{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json", "useTabs": false }
    },
    {
      "files": "package.json",
      "options": { "parser": "json", "useTabs": false }
    },
    {
      "files": "jest.config.json",
      "options": { "parser": "json", "useTabs": false }
    }
  ]
}
